name: Deploy MkDocs

on:
  push:
    branches:
      - main # Change if your default branch is different

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          sudo apt update
          pip install -r requirements.txt

      - name: Build MkDocs site
        run: mkdocs build --site-dir public

      - name: Add CNAME for custom domain
        run: echo "dipro.yanis.io" > public/CNAME

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
